<li class='<%= cycle("even", "odd") -%>' id="comment_<%= comment.id %>">
  <div class="gravatar">
    <%= gravatar_image_tag(comment.user.email) %>
  </div>
  <div class="fact-right">
    <div class="fact-metadata">
      <b><i>
        Posted on <%= comment.created_at %> by <span class="info"><%= get_name_or_you(comment.user.name) %></span>.
        <% if comment.user == current_user %>
          You can
          <%= link_to 'delete', fact_comment_path(comment.fact, comment),
            :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
          it.
        <% end %>
      </i></b>
    </div>
    <br/><br/>
    <%= comment.text %>
  </div>
</li>

