/* Insert a notice between the last comment and the comment form */
var ts = new Date().getTime();
$("#comment-notice").html('<div id='+ts+' class="flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
$("#"+ts+".flash").purr();

/* Replace the count of comments */
$("#comments").html("<%= @comment.fact.comments.count %>");
$("#comments-count").html("<%= pluralize(@comment.fact.comments.count, 'comentari') %>");

/* Add the new comment to the bottom of the comments list */
$("#comment-list").append("<%= escape_javascript(render(@comment)) %>");

/* Highlight the new comment */
$("#comment_<%= @comment.id %>").effect("highlight", {}, 3000);

/* Reset the comment form */
$("#new_comment")[0].reset();
