#preferences
  %h2 Preferències
  %hr
  %h3 Dades
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %fieldset
      = f.input :name, :label => "Nom"
      = f.input :email, :label => "Email"
      = f.input :password, :label => "Nova contrasenya", :required => false
      .hint Deixa-la en blanc si no vols canviar-la
      = f.input :password_confirmation, :label => "Repeteix-la"
      = f.input :current_password, :label => "Contrasenya actual", :required => true
      .hint La necessitem per confirmar els teus canvis
      = f.submit "Actualitzar"

  %hr
  %h3 Autenticacions externes
  #existant
    %h4 Existents
    .data
      - if resource.authentications.any?
        - resource.authentications.each do |authentication|
          .auth
            = image_tag "#{authentication.provider}_32.png"
            = link_to authentication, :confirm => "N'estas segur?", :method => :delete do
              = image_tag "delete.png"
  #available
    %h4 Afegeix-ne
    .data
      - providers = ["twitter","facebook"] - resource.authentications.map{|a|a.provider}
      - providers.each do |provider|
        .auth
          = link_to "/auth/#{provider}" do
            = image_tag "#{provider}_32.png"
