- content_for :custom_title do
  = "Registre"
#register
  %h2 Registre
  %hr
  %h3 Dades
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %fieldset
      = f.input :name, :label => "Nom"
      = f.input :email, :label => "Email"
      = f.input :password, :label => "Contrasenya"
      = f.input :password_confirmation, :label => "Repeteix-la"
      = f.submit "Envia"
