-# Calculate name and mail
- name = current_user ? current_user.name : "Desconegut"
- email = current_user ? current_user.email : ""
- user_key = current_user ? email : "-"
- user_upd = current_user ? current_user.updated_at : "-"
- cache "header_lang_#{I18n.locale}_user_#{user_key}_at_#{user_upd}" do
  #header
    #left
      = link_to "http://itnig.net", :id => "img" do
        = image_tag "intranet_50.png", :alt => "Logo Itnig Intranet"
      = link_to root_path, :id => "title" do
        Knowledge Base
      #social
        .facebook
          %script{:src => "http://connect.facebook.net/ca_ES/all.js#xfbml=1"}
          %fb:like{:href => APP_CONFIG["hostname"], :layout => "button_count", :show_faces => "true"}
        .google
          %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
            {lang: 'ca'}
          %g:plusone{:size => "medium"}
    #right 
      -# Render
      %p= name
      %ul
        %li= link_to "Entrades", root_path
        |
        - if current_user
          %li= link_to "Nova entrada", new_fact_path
          |
          %li= link_to "Preferències", edit_user_registration_path
          |
          %li= link_to "Sortir", destroy_user_session_path
          |
        - else
          %li= link_to "Entrar", new_user_session_path
          |
        %li
          = link_to "http://feeds.feedburner.com/itnig/knowledge" do
            = image_tag "rss-header.png"
      = gravatar_image_tag(email, :class => "pic", :gravatar => {:size => 65})
  - unless current_user
    #notconnected
      No has entrat com a usuari. Pots #{ link_to "registrar-te", new_user_registration_path} o #{ link_to "entrar", new_user_session_path}. Així podràs crear entrades o comentar-ne d'altres!
