#itnig-header
  #nav
    %ul
      %li
        = link_to 'Itnig', "http://itnig.net/en"
      %li
        = link_to 'Service', "http://itnig.net/en/service"
      %li
        = link_to 'Company', "http://itnig.net/en/company"
      %li
        = link_to 'Projects', "http://itnig.net/en/projects"
      %li
        = link_to 'Events', "http://itnig.net/en/events"
      -#%li.nav-blog
        = section_link_to 'Blog', posts_path
      %li
        = link_to 'Knowledge', 'http://how.itnig.net', :class => "current"
      %li.nav-contact
        =link_to 'Contact','http://itnig.net/en#footer-container'
      .clear
.clear
