<div id="logo">
  <a href="/"><img src="/images/intranet.png" alt="Logo Itnig Intranet" /></a>
</div>
<div id="header" class="span-24">
  <h1 class='greet span-6 prepend-1 column'>
    Knowledge Base
  </h1>
  <div id="menu_superior">
    <div style="float:right">
      <ul>
        <li><%= link_to 'Fact list', root_path %></li>
        <li><%= link_to 'New fact', new_fact_path %></li>
        <li><%= link_to current_user.name, edit_user_registration_path %></li>
        <li><%= link_to 'Authentications', authentications_path %></li>
        <li><%= link_to 'Signout', destroy_user_session_path %></li>
      </ul>
    </div>
  </div>
</div>
