#logo
  %a{:href => "/"}
    %img{:alt => "Logo Itnig Intranet", :src => "/images/intranet.png"}/
#header.span-24
  %h1.greet.span-6.prepend-1.column
    Knowledge Base
  #menu_superior
    %div{:style => "float:right"}
      %ul
        %li= link_to 'Fact list', root_path
        %li= link_to 'New fact', new_fact_path
        %li= link_to current_user.name, edit_user_registration_path
        %li= link_to 'Authentications', authentications_path
        %li= link_to 'Signout', destroy_user_session_path
