<h2 id="comments_count"><%= pluralize(@fact.comments.count, "Comment") %></h2>
<ul id="comments" class='projects'>
  <% @fact.comments.each do |comment| %>
    <%= render "comments/comment", :comment => comment %>
  <% end %>
</ul>

<hr />

<div id="comment-notice"></div>

<h3><%= current_user.name %>, post a comment!</h3>
<div>
  <div id="newcomment-gravatar">
    <%= gravatar_image_tag(current_user.email) %>
  </div>
  <%= form_for [@fact, Comment.new], :remote => true do |f| %>
    <%= f.text_area :text, :id => "newcomment-area" %>
    <br/>
    <%= f.submit "Post", :id => "newcomment-button", :class => "button" %>
  <% end %>
</div>


