<h2>Comments</h2>
<ul class='projects'>
  <% if @fact.comments.size == 0 %>
    No comments for now.
  <% end %>
  <% @fact.comments.each do |comment| %>
    <li class='<%= cycle("even", "odd") -%>'>
      <div>
        <div class="gravatar">
          <%= gravatar_image_tag(comment.user.email) %>
        </div>
        <div class="fact-right">
          <div class="fact-metadata">
            <b><i>Posted on <%= comment.created_at %> by <%= comment.user.name %></i></b><br/>
          </div>
          <%= comment.text %>
        </div>
      </div>
    </li>
  <% end %>
  <h3>Post a comment</h3>
  <div>
    <div class="gravatar">
      <%= gravatar_image_tag(current_user.email) %>
    </div>
    <textarea id="posting_area">Write here...</textarea>
    <div id="post_button">
      <%= button_to "Post comment"  %>
    </div>
  </div>
</ul>

