%h2#comments_count= pluralize(@fact.comments.count, "Comment")
%ul#comments.projects
  - @fact.comments.each do |comment|
    = render "comments/comment", :comment => comment
%hr/
#comment-notice
%h3
  = current_user.name
  , post a comment!
%div
  #newcomment-gravatar
    = gravatar_image_tag(current_user.email)
  = form_for [@fact, Comment.new], :remote => true do |f|
    = f.text_area :text, :id => "newcomment-area"
    %br/
    = f.submit "Post", :id => "newcomment-button", :class => "button"
