<%= form_for @fact, :html => { :id => "fact_form" } do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1 class='welcome'><%= f.text_field :title %></h1>
  <div class="gravatar"><%=gravatar_image_tag(@fact.new_record? ? "" : @fact.user.email)%></div>
  <div class="fact-metadata">
    <b><i>
      <% unless@fact.new_record? %>
        Created on <%= @fact.created_at %> by <span class="info"><%= get_name_or_you(@fact.user.name) %></span>.
      <% else %>
      Check the 
      <%= link_to 'markdown', "http://daringfireball.net/projects/markdown/syntax", { :target => "_new", :class => "info" } %>
      syntax.
      <% end %>
      <br/><br/>
    </i></b>
  </div>
  <%= f.text_area :description, :id => "description_area" %>

  <h2>Tags</h2>
  <div id="tag_inputs"></div>
  <%= link_to "+ New tag", "#new-label", :id => "new_tag_link" %>
  <div id="tag-form">
    <%= form_for Tag.new do |t| %>
      <%= t.text_field :name, :label => false %>
    <% end %>
  </div>
  <div id="tag-cloud">
    <% @tags.each do |t| %>
      <%= render "tags/tag", :tag => t %>
    <% end %>
  </div>
  <br/>

  <%= f.submit :id => "post_button" %>
<% end %>
