<h1>Listing facts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%= fact.title %></td>
    <td><%= fact.description %></td>
    <td><%= link_to 'Show', fact %></td>
    <td><%= link_to 'Edit', edit_fact_path(fact) %></td>
    <td><%= link_to 'Destroy', fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fact', new_fact_path %>
