#fact-list
  %h2 Llista d'entrades
  - if @facts.empty?
    No facts for now.
  - @facts.each do |fact|
    .fact
      = gravatar_image_tag(fact.user.email)
      = link_to fact_path(fact, :anchor => "comments"), :class => "comments-link" do
        .comments-wrapper
          - nc = fact.comments.size
          - nc = "#{99}+" if nc > 99
          .comments= nc
      = link_to fact do
        .rest
          .metadata
            Creat el #{fact.created_at} per
            = get_name_or_you(fact.user.name)
          %h3= fact.title
          .text= truncate(fact.description, :length => 500)
    - if fact != @facts.last
      %hr
