#fact-list
  %h2
    - if @is_search
      Resultats de cerca
    - else
      - if @tag
        Entrades del tag '#{@tag.capitalize}'
      - else
        Llista d'entrades
  #search-img
    = link_to "#search", :rel => "facebox" do
      %h3 Cerca
      = image_tag "magnifier.png"
  #pagination= will_paginate @facts, :previous_label => "← Anterior", :next_label => "Següent →"
  - if @facts.empty?
    Encara no hi ha entrades.
  - @facts.each do |fact|
    %hr
    .fact
      = gravatar_image_tag(fact.user.email)
      = link_to fact_path(fact, :anchor => "comments"), :class => "comments-link" do
        .comments-wrapper
          - nc = fact.comments.size
          - nc = "#{99}+" if nc > 99
          .comments= nc
      = link_to fact do
        .rest
          .metadata
            Creat
            fa #{time_ago_in_words(fact.created_at)} per
            = get_name_or_you(fact.user)
          %h3= fact.title
          .text= truncate(fact.description, :length => 500)
        .tags
          - fact.tags.each do |tag|
            .tag= link_to tag, root_path(:tag => tag.name)
  #search
    %h2 Cerca d'entrades
    = simple_form_for @search, :url => root_path, :html => {:method => :get} do |f|
      = f.input :title_contains, :label => "Títol", :required => false
      = f.input :user_name_equals, :label => "Autor", :collection => User.all.map{|u|u.name}, :required => false
      = f.input :description_contains, :label => "Text", :as => :text, :required => false
      = f.input :created_at_greater_than_or_equal_to, :label => "Creat entre", :input_html => { :class => "date" }, :required => false
      = f.input :created_at_less_than_or_equal_to, :label => "i", :input_html => { :class => "date" }, :required => false
      = f.input :updated_at_greater_than_or_equal_to, :label => "Actualitzat entre", :input_html => { :class => "date" }, :required => false
      = f.input :updated_at_less_than_or_equal_to, :label => "i", :input_html => { :class => "date" }, :required => false
      -# TODO: search by tags
      = f.submit "Cerca"
