-# get title, to be used both in the page title and as H2
- if @is_search
  - title = "Resultats de cerca"
- else
  - if @tag
    - title = "Entrades del tag '#{@tag.capitalize}'"
  - elsif @user
    - title = "Entrades de l'usuari '#{@user}'"
  - else
    - title = "Llista d'entrades"

- content_for :custom_title do
  = title

- user_key = current_user ? current_user.email : "-"

#fact-list
  %h2= title
  #search-bar
    = form_tag root_path, :method => "get" do
      = text_field_tag :search, @is_search || "Cerca aquí..."
    = link_to "javascript:doSearch();" do
      = image_tag "magnifier-search.png"
  #pagination= will_paginate @facts, :previous_label => "← Anterior", :next_label => "Següent →"
  - if @facts.empty?
    No hi ha entrades.
  - @facts.each do |fact|
    - cache "fact-at-index_lang_#{I18n.locale}_fact_#{fact.id}_at_#{fact.updated_at}_for_#{user_key}" do
      %hr
      .fact
        = link_to root_path(:user => fact.user.name) do
          = gravatar_image_tag(fact.user.email)
        = link_to fact_path(fact, :anchor => "comments"), :class => "comments-link" do
          .comments-wrapper
            - nc = fact.comments.size
            - nc = "#{99}+" if nc > 99
            .comments= nc
        - if fact.category.present?
          .category= fact.category
        .metadata
          = link_to fact do
            %h3= fact.title
          .dates
            Creat
            = cached_timestamp(fact.created_at)
            per
            = get_name_or_you(fact.user)
            - if fact.created_at != fact.updated_at
              | Actualitzat per últim cop
              = cached_timestamp(fact.updated_at)
        .text= to_md(fact.description, :length => 600)
        .tags
          - fact.tags.each do |tag|
            .tag= link_to tag, root_path(:tag => tag.name)

- content_for :custom_js do
  :javascript
    $("#search").focus(function(){
      if ($(this).val()=="Cerca aquí..."){
        $(this).val("");
      }
    });

    $("#search").blur(function(){
      if ($(this).val()==""){
        $(this).val("Cerca aquí...");
      }
    });
