<h1 class='welcome'>Fact list</h1>
<ul class='projects'>
  <% if @facts.size == 0 %>
    No facts recorded.
  <% end %>
  <% @facts.each do |fact| %>
    <li class='<%= cycle("even", "odd") -%>'>
      <div id="fact-<%=fact.id%>" class="fact">
        <div class="fact-left">
          <%= gravatar_image_tag(fact.user.email) %>
        </div>
        <div class="fact-right">
          <div class="fact-metadata">
            <b><i>Created on <%= fact.created_at %> by <%= fact.user.name %></i></b>
          </div>
          <h2><%= link_to fact.title, fact %></h2>
          <%= truncate(fact.description, :length => 300) %>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
<hr>

