<h1 class='welcome'><%= @fact.title %></h1>
<div>
  <div class="gravatar"><%=gravatar_image_tag(@fact.user.email)%></div>
  <div class="fact-metadata">
    <b><i>
        Created on <%= @fact.created_at %> by <%= get_name_or_you(@fact.user.name) %>.
        <% if @fact.user == current_user %>
          You can
          <%= link_to 'edit', edit_fact_path(@fact) %>
          or
          <%= link_to 'delete', fact_path(@fact),
            :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
          it.
        <% end %>
    </i></b>
  </div>
  <br/>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= get_markdown_html(@fact.description) %>
</div>
<hr>

<h2>Tags</h2>
  <% @fact.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
<hr/>

<%= render "comments" %>
