- content_for :custom_title do
  = @fact.title

- user_key = current_user ? current_user.email : "-"
- cache "fact-show_lang_#{I18n.locale}_fact_#{@fact.id}_at_#{@fact.updated_at}_for_#{user_key}" do
  #fact-show
    #gravatar= gravatar_image_tag(@fact.user.email)
    = link_to "#comments" do
      #comments-wrapper
        - nc = @fact.comments.size
        - nc = "#{99}+" if nc > 99
        #comments= nc
    #links
      - if can? :edit, @fact
        = button_to 'Edita', edit_fact_path(@fact), :method => :get, :class => "button"
      - if can? :destroy, @fact
        = button_to 'Elimina', fact_path(@fact), :confirm => "Are you sure?", :method => :delete, :class => "button" |
    #head
      %h2= @fact.title
      #metadata
        Creat
        = cached_timestamp(@fact.created_at)
        per
        = link_to get_name_or_you(@fact.user), root_path(:user => @fact.user.name)
        - if @fact.created_at != @fact.updated_at
          | Actualitzat per últim cop
          = cached_timestamp(@fact.updated_at)
      #social
        .facebook
          %script{:src => "http://connect.facebook.net/ca_ES/all.js#xfbml=1"}
          %fb:like{:href => request.url, :layout => "button_count", :show_faces => "true"}
        .twitter
          = tweet_button(:via => "itnig", :url => request.url, :text => "Checkout the awesome Knowledge Base!", :count => "horizontal")
        .google
          %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
            {lang: 'ca'}
          %g:plusone{:size => "medium"}
    #text
      = to_md @fact.description
    %hr
    = render "tags", :tags => @fact.tags
    %hr
    = render "comments", :comments => @fact.comments, :fact => @fact
