<h1 class='welcome'><%= @fact.title %></h1>
<div>
  <div class="gravatar"><%=gravatar_image_tag(@fact.user.email)%></div>
  <div class="fact-metadata">
    <b><i>
        Created on <%= @fact.created_at %> by <%= get_name_or_you(@fact.user.name) %>
        <% if @fact.user == current_user %>
          <%= link_to '(delete)', fact_path(@fact),
            :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
        <% end %>
    </i></b>
  </div>
  <b><i>
       </i></b><br/>
  <%= get_markdown_html(@fact.description) %>
</div>
<hr>

<h2 id="comments_count"><%= pluralize(@fact.comments.count, "Comment") %></h2>
<ul id="comments" class='projects'>
  <% @fact.comments.each do |comment| %>
    <%= render "comments/comment", :comment => comment %>
  <% end %>
</ul>

<hr />

<div id="comment-notice"></div>

<h3><%= current_user.name %>, post a comment!</h3>
  <div>
    <div class="gravatar">
      <%= gravatar_image_tag(current_user.email) %>
    </div>
    <%= form_for [@fact, Comment.new], :remote => true do |f| %>
      <%= f.text_area :text, :id => "posting_area" %>
      <%= f.submit :id => "post_button" %>
    <% end %>
  </div>


