<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @fact.title %>
</p>

<p>
  <b>Description:</b></br>
  <%=get_markdown_html(@fact.description)%>
</p>

<p>
  <b>E-mail:</b>
  <%= @fact.email %>
</p>

<p>
  <%=gravatar_image_tag(@fact.email)%>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
