<div id="fact-show">
  <div id="fact-header">
    <div id="fact-gravatar">
      <%=gravatar_image_tag(@fact.user.email)%><br/>
      <div id="fact-name"><%= get_name_or_you(@fact.user.name) %></div>
    </div>
    <div id="fact-actions">
      <% if @fact.user == current_user %>
        <%= button_to 'edit', edit_fact_path(@fact), :method => :get, :class => "button" %>
        <%= button_to 'delete', fact_path(@fact),
          :confirm => "Are you sure?", :method => :delete, :class => "button" %>
      <% end %>
    </div>
    <h1 id="fact-title"><%= @fact.title %></h1><br/>
    <span id="fact-date">Created at <%= @fact.created_at %>, updated at <%= @fact.updated_at %></span>
  </div>
  <div id="fact-text">
    <%= get_markdown_html(@fact.description) %>
  </div>
</div>
<hr>

<h2>Tags</h2>
<% @fact.tags.each do |tag| %>
  <span class="show_tag"><%= tag.name %></span>
<% end %>
<br/><br/>
<hr/>

<%= render "comments" %>
