<h1 class='welcome'><%= @fact.title %></h1>
<div>
  <div class="gravatar"><%=gravatar_image_tag(@fact.user.email)%></div>
  <b><i>
      Created on <%= @fact.created_at %> by 
      <% if @fact.user == current_user %>
        you
      <% else %>
        <%= @fact.user.name %>
      <% end %>
  </i></b><br/>
  <%= get_markdown_html(@fact.description) %>
</div>
<hr>

<%= render "comments.html.erb" %>
