!!!
%html
  %head
    %title
      - if content_for?(:custom_title)
        = yield :custom_title
        \|
      KnowledgeBase
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    - if @noindex
      %meta{:content => "noindex", :name => "robots"}
    %script{:src => "http://use.typekit.com/bys2kmu.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = include_stylesheets :screen
    %link{ :rel => "shortcut icon", :href => "/images/favicon.png" }
    = csrf_meta_tag
  %body.one_col
    = render "shared/itnig_header"
    #container
      = render "shared/flash"
      = render "shared/header"
      #content= yield
    = auto_discovery_link_tag(:rss, feed_url(:format => :rss)) # RSS
    = include_javascripts :frontend
    = yield :custom_js
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6507713-34']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
