<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeBase</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body style="background: #EEEEEE;">
  <div class="container">
    <% if current_user %>
      <%= render "shared/topmenu" %>
      <% end %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <div id="contentbox" class="span-22 prepend-1 append-1 column">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
  <%= javascript_include_tag "tags.js" %>
</body>
</html>
