!!!
%html
  %head
    %title
      - if content_for?(:custom_title)
        = yield :custom_title
        \|
      KnowledgeBase
    = include_stylesheets :screen
    = csrf_meta_tag
  %body.one_col
    #container
      = render "shared/flash"
      = render "shared/header"
      #content= yield
    = auto_discovery_link_tag(:rss, feed_url(:format => :rss)) # RSS
    = include_javascripts :frontend
    = yield :custom_js
