!!!
%html
  %head
    %title KnowledgeBase
    = stylesheet_link_tag "screen"
    = csrf_meta_tag
  %body.one_col
    #container
      = render "shared/flash"
      = render "shared/header"
      #content= yield
    -#= auto_discovery_link_tag(:rss, rss_url) # RSS
    = javascript_include_tag "jquery-1.5.1.min", "jquery-ui-1.8.13.custom.min", "jquery-rails", "jquery.purr", "jquery-datepicker-ca"
    = javascript_include_tag "facebox"
    = javascript_include_tag "elastic"
    = javascript_include_tag "highlight.pack"
    = javascript_include_tag "application"
    = yield :custom_js
